*{
  margin: 0;
  padding: 0;
}

.App h1{
  margin-bottom: 20px;
  padding: 30px;
}

.form{
  width: 400px;
  background-color: aliceblue;
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin: auto;
  padding: 40px;
  border-radius: 10px;
}

.form input, button{
  width: 70%;
  height: 25px;
  margin: auto;
}