* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: black;
}

h1 {
  margin-bottom: 20px;
  padding: 30px;
  text-align: center;
}

.form {
  width: 400px;
  background-color: aliceblue;
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin: auto;
  padding: 40px;
  border-radius: 10px;
}

.form input,
button {
  width: 70%;
  height: 25px;
  margin: auto;
}

.card {
  width: 450px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 20px;
  border-radius: 10px;
  background-color: antiquewhite;
}

.card-title {
  font-size: 1.4rem;
  font-weight: bold;
}

.card-description {
  font-size: 1rem;
}

.cards-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 30px;
  justify-content: center;
  gap: 30px;
}

.portal-navbar {
  width: fit-content;
  margin-right: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: 10px;
  gap: 50px;
  font-size: 1.3rem;
}

.popup-navbar-button {
  width: fit-content;
  height: fit-content;
}

.popup-content {
  border-radius: 20px;
  padding: 60px !important;
  width: 500px !important;
}

.add-event-form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 70%;
  margin: auto;
}

.add-event-form input {
  height: 25px;
}

.add-event-form textarea {
  height: 55px;
}

.request {
  width: 80%;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}

.username {
  font-size: 1.4rem;
}




@keyframes anvil {
  0% {
    transform: scale(1) translateY(0px);
    opacity: 0;
    box-shadow: 0 0 0 rgba(241, 241, 241, 0);
  }

  1% {
    transform: scale(0.96) translateY(10px);
    opacity: 0;
    box-shadow: 0 0 0 rgba(241, 241, 241, 0);
  }

  100% {
    transform: scale(1) translateY(0px);
    opacity: 1;
    box-shadow: 0 0 500px rgba(241, 241, 241, 0);
  }
}

.popup-content {
  -webkit-animation: anvil 0.3s cubic-bezier(0.38, 0.1, 0.36, 0.9) forwards;
}